<!doctype html>
<html lang="{{ .Page.Language | default "en" }}">
<head>
  <meta charset="utf-8">
  <title>Page Not Found</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "css/404.css" | relURL }}">
</head>
<body>
  <h1>404</h1>
  <h2>Page Not Found</h2>
  <p>Sorry, but the page you were trying to view does not exist.</p>
  <a href="javascript:history.back()">Go Back</a>
<script>
/* (WP) /category/boo => /categories/boo */
/* (WP) /tag/boo      => /tags/boo       */
if (location.pathname.match(/^\/category\//))
  location.href = location.pathname.replace(/^\/category\//, '/categories/')
if (location.pathname.match(/^\/tag\//))
  location.href = location.pathname.replace(/^\/tag\//, '/tags/')
</script>
</body>
</html>
<!-- IE needs 512+ bytes: https://blogs.msdn.microsoft.com/ieinternals/2010/08/18/friendly-http-error-pages/ -->
